{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <h2>Messages</h2>

        <div class="mdl-grid">
            {% if messages %}
                <ul>
                    {% for m in messages %}
                        <div class="">

                            <div class="demo-card-wide mdl-shadow--3dp">
                                <div class="mdl-card__title">
                                    <h3 class="mdl-card__title-text">
                                        {% if m.user %}
                                            {{ m.user.username|e }}
                                        {% else %}
                                            User not found
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    {% if m.content %}
                                        {{ m.content|e }}
                                    {% else %}
                                        Content not found
                                    {% endif %}
                                </div>
                                <div class="center">
                                    <span class="mdl-chip mdl-chip--contact">
                                        <span class="mdl-chip__contact mdl-color--blue mdl-color-text--white">{{ m.upVotes }}</span>
                                        <span class="mdl-chip__text">Up Vote</span>
                                    </span>
                                    <span class="mdl-chip mdl-chip--contact">
                                        <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">{{ m.downVotes }}</span>
                                        <span class="mdl-chip__text">Down Vote</span>
                                    </span>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <div class="">
                                        {% if m.date %}
                                            {{ m.date|date("m/d/Y") }}
                                        {% else %}
                                            Date not found
                                        {% endif %}
                                        <br/>
                                    </div>
                                    {% if m.categories %}
                                        <div class="mdl-card__subtitle-text">
                                        {% for c in m.categories %}
                                                {% if c.name %}
                                                    {{ c.name }} |
                                                {% else %}
                                                    Name not found
                                                {% endif %}
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- Loop comments -->
                                {% if m.comments %}
                                    {% for c in m.comments %}
                                        <div class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp background whole">
                                            <span class="mdl-list__item-primary-content">
                                                <span class="mdl-chip__contact mdl-color--black mdl-color-text--white">
                                                   {{ c.user.userName|slice(1, 2) }}
                                                </span>
                                                <span class={"small_text"}>
                                                    {{ c.user.userName }}
                                                </span>
                                                <span class="small_text mdl-list__item-text-body ">
                                                    {{ c.content }}
                                                </span>
                                            </span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <!-- Add comment -->

                                {% set form = formObject.createView %}
                                {{ form_start(form) }}
                                <div class="mdl-list__item mdl-list__item--three-line mdl-shadow--2dp background whole">
                                    <label class="mdl-textfield__label" for="comment_form_content">Voer hier uw bericht in...</label>
                                    {{ form_widget(form.content, { 'attr': {'class': 'mdl-textfield__input'} }) }}

                                    <!--<input class="mdl-textfield__input" type="text" id="sample1">-->
                                    {{ form_end(form) }}
                                    <submit class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                        Reply
                                    </submit>

                            </div>


                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                No messages found
            {% endif %}


        </div>


    </div>
{% endblock %}
